[submodule "பின்னணி"]
	path = பின்னணி
	url = https://github.com/24760/Background.git
[submodule "தொகுப்பாளர்கள்"]
	path = தொகுப்பாளர்கள்
	url = https://github.com/24760/Compilers.git
[submodule "படகருவிகள்"]
	path = படகருவிகள்
	url = https://github.com/24760/ImageTools.git
[submodule "வலது-சொடுக்கு"]
	path = வலது-சொடுக்கு
	url = https://github.com/24760/Right-Click
[submodule "துவக்ககருவிகள்"]
	path = துவக்ககருவிகள்
	url = https://github.com/24760/BootTools.git
[submodule "ஆவணதிருத்திகள்"]
	path = ஆவணதிருத்திகள்
	url = https://github.com/24760/DocEditors.git
[submodule "மேலும்"]
	path = மேலும்
	url = https://github.com/24760/Etc.git
[submodule "ஊடகம்"]
	path = ஊடகம்
	url = https://github.com/24760/Media.git